@font-face {
  font-family: 'iransans';
  src: url("fonts/Iransans-Light.woff") format("woff");
}
a{
  /* color: #343a40; */
  text-decoration: none;
  color: #4fb2d6;
  font-size: medium !important;
  font-weight: 500;
}
a:hover,
a:focus{
  color: #2e8ed6;
}
li{
  list-style: none;
}
body{
  direction: rtl;
  text-align: right;
  font-family: 'iransans';
}
h1{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
  text-shadow: #474747 3px 5px 2px;
  color: #FFFFFF;
}
@media (max-width: 768px){
    h1{
        font-size: 40px;
    }
}
h2{
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 1.3rem;
  color: #633991;
}
h3{
  color: #7e41b4;
  font-size: 27px;
  font-weight: 600;
  margin-top: 0.5rem;
}
h4{
  color: #633991;
  font-size: 20px;
  font-weight: 600;
}
h5{
  font-size: 25px;
  font-weight: 500;
  color: #633991;
}
p{
  color: #959094;
}
p.lead{
  font-size: 22px;
  font-weight: 500;
  color: #6c6cd6;
}
.nav-menu{
  transition: all .3s ease;
}
.btn{
  font-size: 12px;
  font-weight: 600;
  color: #fff !important;
  padding: .35rem 1.3rem;
}
.btn-primary{
  background: linear-gradient(122deg, #4794e5 0%, #7561ff 100%);
  box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  border: 0;
  border-radius: 3px;
  padding: 0.37rem 1rem !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disaabled]):not(.disabled).active,
.btn-primary:not([disaabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
  background: linear-gradient(122deg, #7561ff 0%, #4794e5 100%);
  color: #ffffff;
  box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.3);
}
.btn-secondary{
  background: linear-gradient(122deg, #4794e5 0%, #b671ff 100%);
  box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  border: 0;
  border-radius: 3px;
  padding: 0.37rem 1rem !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not([disaabled]):not(.disabled).active,
.btn-secondary:not([disaabled]):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle{
  background: linear-gradient(122deg, #697ffd 0%, #678ae5 100%);
  color: #ffffff;
  box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.3);
}
.btn:hover,
.btn:focus{
  color: #00b3ff !important;
}

/* ////////////////////////////////////////////
                  header
/////////////////////////////////////////// */

header{
  text-align: center;
  color: #fff;
}
.head-gradiant{
    background: linear-gradient(rgb(148, 179, 255), rgba(0, 138, 255, 0.5), transparent) !important;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 999;
}
.headSlider{
    background-size: cover;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
    position: relative;
}
#home .matn{
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
}
.headSlider img{
    max-height: 600px;
    min-height: 600px;
}
@media (max-width: 992px) and (min-width: 769px){
    .headSlider img{
        max-height: 500px;
        min-height: 500px;
    }
}
@media (max-width: 768px) and (min-width: 481px){
    .headSlider img{
        max-height: 370px;
        min-height: 370px;
    }
}
@media (max-width: 480px){
    .headSlider img{
        max-height: 275px;
        min-height: 275px;
    }
    #home .matn h1{
        font-size: 26px;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    #home .matn p{
        font-size: 15px;
    }
    #home .matn{
        top: 120px;
    }
}
.tagline{
  font-size: 25px;
  font-weight: 300;
    text-shadow: 0 0 10px #333333;
    color: #FFFFFF;
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px){
    .tagline{
        font-size: 20px;
    }
}
.is-scrolling,
.nav-is-open{
  background-color: #3e48c3;
  background-image: linear-gradient(135deg , rgba(9, 43, 118, 0.8) 0% , rgba(0, 122, 250, 0.8) 100%);
  box-shadow: 0 .2px 10px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-brand{
  font-size: xx-large !important;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
}
.navbar.navbar-expand-lg{
    padding: auto 0 !important;
}
#navbar{
  text-align: center;
}
#navbar .nav-link{
  position: relative;
}
@media (min-width:992px) {
  #navbar .nav-link{
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
#navbar .nav-link.active::after{
  content: "";
  border-bottom: 1px solid #cbfcff;
  position: absolute;
  right : 1rem;
  left: 1rem;
  bottom: 5px;
}
.category{
    margin-top: 5px !important;
}
.category h3{
    margin-top: -0px;
}
.category span{
    font-size: larger;
}

@media (max-width: 420px) {
    .categories{
        flex-direction: column !important;
    }
    #colorbox{
        width: 300px !important;
    }
    #cboxContent{
        width: 265px !important;
    }
}

.categories h4{
    background-color: #0d1b48;
    padding: 0.3rem 0.35rem;
}
.categories h4 a{
    color: #FFFFFF !important;
    text-decoration: none !important;
}
.categories h4:hover{
    background-color: #00051d;
}


@media (max-width: 420px) {

    #headingOne, #headingTwo, #headingThree ,#headingFour , #headingFive .btn-block{
        width: 66% !important;
    }
}

a.inline.cboxElement h3{
    font-size: 20px !important;
}
form.card.form-group.mt-2{
    font-size: 20px !important;
}

/*Slider*/



/* ////////////////////////////////////////////
                Gallery2
/////////////////////////////////////////// */

.new-book{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.book-list{
    border-bottom: #2d4597 solid 4px;
    border-top: #2d4597 solid 4px;;
}
.book-gallery .owl-item{
    transform: scale(0.7);
    transition: all .3s ease-in;
}
.book-gallery .owl-item.center{
    transform: scale(0.7);
}
.book-gallery .owl-stage{
    height: 350px;
}
@media (max-width: 991px){
    .book-gallery .owl-stage{
        height: 350px;
    }
}
.book-gallery .owl-dots{
    margin: 1rem auto;
    text-align: center;
}
.book-gallery .owl-dots .owl-dot{
    background: #c7e1eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all .3s ease-in;
    margin: 5px;
    outline: none;
}
.book-gallery .owl-dots .owl-dot:hover{
    background: rgba(66, 111, 146, 0.78);
}
.book-gallery .owl-dots .owl-dot.active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background: #2d4597;
}
.book-gallery a{
    text-decoration: none;
}
.book-gallery .owl-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* ////////////////////////////////////////////
                  discount
/////////////////////////////////////////// */

.discount img{
    max-width: 40%;
}
.box-icon{
  padding: .5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.sec-2 p{
  max-width: 600px;
}
@media (min-width:992px){
  .mob-img{
    position: absolute;
    z-index: -1;
    top: 90rem;
    right: 30rem;
  }
}
@media (min-width: 1201px){
  .sec-2{
    margin-bottom: 11rem;
  }
}
@media (min-width: 1445px){
  .sec-2{
    margin-bottom: 16rem;
  }
}
@media (min-width: 1655px){
  .sec-2{
    margin-bottom: 25rem;
  }
}

/* ////////////////////////////////////////////
                Gallery
/////////////////////////////////////////// */
.img-gallery .owl-item{
  transform: scale(0.7);
  transition: all .3s ease-in;
}
.img-gallery .owl-item.center{
  transform: scale(1);
}
.img-gallery .owl-stage{
  height: 720px;
}
@media (max-width: 991px){
  .img-gallery .owl-stage{
    height: 470px;
  }
}
.img-gallery .owl-dots{
  margin: 1rem auto;
  text-align: center;
}
.img-gallery .owl-dots .owl-dot{
  background: #c7e1eb;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  transition: all .3s ease-in;
  margin: 5px;
  outline: none;
}
.img-gallery .owl-dots .owl-dot:hover{
  background: rgba(66, 111, 146, 0.78);
}
.img-gallery .owl-dots .owl-dot.active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: #2d4597;
}

/* ////////////////////////////////////////////
                section-card
/////////////////////////////////////////// */

#personal{
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
    padding-top: 3rem;
}
.light-bg{
    background-color: #eefbff;
}
.section{
    padding: 5rem 0;
}
.section-title{
    text-align: center;
    margin-bottom: 3rem;
}
.section-title small{
    color: #80949b;
}
.gradiant-icon{
    background-color: #94c4fc;
    background: linear-gradient(to bottom, #7473d4 0%, #438dc6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card.features{
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}
.card.features:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.card.features .profile{
    max-width: 25%;
}
.card-text{
    font-size: 14px;
    text-align: justify;
}
.card.features::before{
    content: "";
    position: absolute;
    width: 3px;
    background: linear-gradient(to bottom, #608eff 0%, #9987fc 100%);
    top: 0;
    bottom: 0;
    left:0;
}
@media (max-width:991px){
    .card.features{
        margin-bottom: 1rem;
    }
    [class^="col-"]:last-child .card.features{
        margin-bottom: 0;
    }
}

/* ////////////////////////////////////////////
                Panels
/////////////////////////////////////////// */

.card-deck .card.panels{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all .4s ease;
}
/* .card-deck .card.panels.active{
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.07);
  border-top: 3px solid #e54595;
  top: 0;
  left: 0;
  right: 0;
} */
.card-deck .card.panels:hover{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    border-top: 3px solid #438dc6;
    top: 0;
    left: 0;
    right: 0;
}
.card-deck .card.panels .card-header,
.card-deck .card.panels .info-panel{
    text-align: center;
}
.card-deck .card.panels .info-panel{
    padding: 0;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 500;
}
.card-deck .card.panels .info-panel .infos{
    margin: 2rem auto;
}
.card-deck .card.panels .btn{
    line-height: 2.5;
    font-size: 20px;
}
@media (max-width:991px){
    .card-deck .card.panels .info-panel{
        font-size: 18px;
        font-weight: 400;
    }
    .card-deck .card.panels .info-panel .infos{
        margin: 1.5rem auto;
    }
    .card-deck .card.panels .btn{
        line-height: 2.2;
        font-size: 18px;
    }
    .card-deck .card.panels .card-header h3{
        font-size: 29px;
    }
}
@media (max-width:767px){
    .card-deck .card.panels .info-panel{
        font-size: 17px;
    }
    .card-deck .card.panels .info-panel .infos{
        margin: 1.3rem auto;
    }
    .card-deck .card.panels .btn{
        line-height: 2;
        font-size: 15px;
    }
    .card-deck .card.panels .card-header h3{
        font-size: 26px;
    }
}

/* ////////////////////////////////////////////
                question
/////////////////////////////////////////// */

#contact{
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
    padding-top: 3rem;
}

#contact p{
  color: #b3a7c0;
}

/* ////////////////////////////////////////////
                download
/////////////////////////////////////////// */

.download-title{
  color: #fff;
}
.download .box-icon{
  width: 70px;
  margin: 1rem auto;
  background-color: #fff;
  /* max-width: 6.3%; */
}
.download .tagline{
  font-size: 17px;
}
.download .btn{
  color: #3b5491 !important;
  font-size: 16px;
  padding: .5rem 1.3rem;
  margin: 1.5rem .5rem;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
}
.download .icon-store{
  width: 20px;
  height: 20px;
  margin-right: .4rem;
}
.download i{
  color: #ebecf8;
}

/* ////////////////////////////////////////////
                contact
/////////////////////////////////////////// */
.contact-info a p:hover{
    color: #242536 !important;
}
.spans{
  display: flex;
  justify-content: center;
  align-items: center;
}
.spans a{
    text-decoration: none !important;
}
.spans span{
  color: rgba(154, 215, 227, 0.69);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: all .35s ease;
}
.spans span:hover{
  background: #d4edfa;
}
@media (max-width: 575px){
  .contact-info{
    text-align: center;
    margin: 1rem auto; 
  }
}

.bg-gradiant{
    background: linear-gradient(rgba(17, 68, 193, 1), rgba(0, 138, 255, 0.5));
    background-size: cover;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
}

/* ////////////////////////////////////////////
                footer
/////////////////////////////////////////// */
footer{
  margin: 4rem auto;
  text-align: center;
}
footer span{
  margin: auto 1rem;
  color: #83e3d7;
}
footer span a:hover{
  text-decoration: none;
}
.request button{
    display: block;
    margin: 0 auto;
}
@media (max-width:992px) {
    .light-bg a{
        font-size: small !important;
    }
    footer a{
        font-size: medium !important;
    }
    footer p{
        font-size: medium !important;
    }
}