.book-img img{
    width: 200px;
    height: 300px;
    margin: 3rem 1rem;
}
.book-list .section-title a{
    text-decoration: none;
}
.book-list .section-title a h5{
    text-decoration: none;
    font-size: large !important;
}
.book-list .section-title a h5:hover{
    color: #2d4597 !important;
    transform: scale(1.1);
}

@media (max-width: 768px){
    .comment{
        width: 100% !important;
    }
}

/* ////////////////////////////////////////////
                comments
/////////////////////////////////////////// */

.light-bg{
    background-color: #eefbff;
}
.section{
    padding: 5rem 0;
}
#comments .section-title{
    margin-bottom: 3rem;
    text-align: right;
}
.section-title small{
    color: #80949b;
}
.gradiant-icon{
    background-color: #94c4fc;
    background: linear-gradient(to bottom, #7473d4 0%, #438dc6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card.features{
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}
#comments .card.features .card-body{
    max-height: 150px;
}
.card.features:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
#comments .card.features .profile{
    max-width: 10%;
}
.card-text{
    font-size: 14px;
    text-align: justify;
}
.card.features::before{
    content: "";
    position: absolute;
    width: 3px;
    background: linear-gradient(to bottom, #608eff 0%, #9987fc 100%);
    top: 0;
    bottom: 0;
    left:0;
}
@media (max-width:991px){
    .card.features{
        margin-bottom: 1rem;
    }
    [class^="col-"]:last-child .card.features{
        margin-bottom: 0;
    }
}