
<!-- سه تا لینک بالاتر از همه لینک ها گذاشته بشه -->
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<link rel="stylesheet" href="/frontend/css/audio-player.css">


<!-- این modal رو هرجایی لازم بود بزارید -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    پخش
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">پلیر پخش صوتی کتاب</h5>
            </div>
            <div class="modal-body">

                <section class="audio-player card">
                    <div class="card">
                        <div class="card-body pb-1 pt-2">
                            <h2 class="card-title col text-center">کتاب روزی روزگاری</h2>
                            <div class="row align-items-center mt-4 mb-3 mx-0">
                                <i id="play-button"class="material-icons play-pause text-primary mr-2" aria-hidden="true"><span class="ti-control-play"></span></i>
                                <i id="pause-button"class="material-icons play-pause d-none text-primary mr-2" aria-hidden="true"><span class="ti-control-pause"></span></i>
                                <i id="next-button"class="material-icons text-primary ml-2 mr-3" aria-hidden="true"><span class="ti-control-skip-forward"></span></i>
                                <div class="col ml-auto rounded-circle border border-primary p-1">
                                    <img id="thumbnail" class="img-fluid rounded-circle" src="images/1%20(3).jpg" alt="">
                                </div>
                            </div>
                            <div class="p-0 m-0" id="now-playing">
                                <p class="font-italic mb-0">در حال پخش: </p>
                                <p class="lead" id="title"></p>
                            </div>
                            <div class="progress-bar  col-12 mb-3">
                            </div>
                        </div>
                        <ul class="playlist list-group list-group-flush">
                            <li style="display: block !important;" audio_url="https://archive.org/download/TabbyCatPurr/Purring.ogg"
                                class="active list-group-item playlist-item py-1">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <div>بخش اول</div>
                                    <div><a href="" class="btn btn-secondary">دانلود</a></div>
                                </div>
                            </li>
                            <li style="display: block !important;" audio_url="https://archive.org/download/Purring_/AnxiousPurringmp3.ogg"
                                class="list-group-item playlist-item py-1">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <div>بخش دوم</div>
                                    <div><a href="" class="btn btn-secondary">دانلود</a></div>
                                </div>
                            </li>
                            <li style="display: block !important;" audio_url="https://archive.org/download/Anxious_Purring/AnxiousPurringmp3.ogg"
                                class="list-group-item playlist-item py-1">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <div>بخش سوم</div>
                                    <div><a href="" class="btn btn-secondary">دانلود</a></div>
                                </div>
                            </li>
                        </ul>
                        <!-- <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div> -->
                    </div>
                    <audio id="audio-player" class="d-none" src="" type="audio/mp3" controls="controls"></audio>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>



<!-- قبل از تگ بسته body گذاشته بشه -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="/frontend/js/jquery-ui-slider.js" charset="utf-8"></script>
<script src="/frontend/js/audioPlayer.js" charset="utf-8"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>