.audio-player {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}
.audio-player i {
  font-size: 90px;
}
#next-button {
    font-size: 90px;
}

@media screen and (min-width:560px) {
  .audio-player i {
    font-size: 80px;
  }
  #next-button {
    font-size: 80px;
  }
}

#now-playing {
  display: none;
}

.progress {
  overflow: visible;
}

li.active{
  padding-right: 5px;
  font-size: 1.1rem;
  padding-top: 1rem ;
  padding-bottom: 1rem;
}

.ui-slider-handle {
  border-radius: 50%;
}
