.lists a{
    text-decoration: none;
}
.lists a p{
    font-size: medium;
    margin-bottom: 6px;
}
.lists a p:hover{
    background-color: #9fcdff;
    border-bottom-left-radius: 10px;
    padding-right: 1rem;
    transition: all .3s ease-in;
}
.card .form-check:hover{
    background-color: #9fcdff;
    border-bottom-left-radius: 10px;
    transition: all .3s ease-in;
}
.explore p{
    color: #1b1e21;
    font-size: large;
}
.filter a{
    text-decoration: none;
    background-color: #546980;
    color: #c3e5ff;
}
.filter .selected{
    background-color: #242536;
}
.books .card{
    margin: 1rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
img{
    width: 100% !important;
}
.books .card img{
    max-width: 250px;
    max-height: 350px;
    overflow: hidden;
}
.books .card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    transition: all .3s ease-in;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1.03);
}
.books .card a{
    text-decoration: none !important;
    transition: 0.3s all;
}
.books .card a:hover{
    color: #0d1b48;
}

@media (max-width: 992px) and (min-width: 769px){
    .books .card{
        width: 25% !important;
        max-width: 250px;
        max-height: 340px;
    }
    .books .card .card-footer a{
        font-size: small !important;
    }
    .books .card img{
        max-width: 230px;
        max-height: 280px;
        overflow: hidden;
    }
    .filter a{
        font-size: medium !important;
    }
}
@media (max-width: 768px) and (min-width: 481px){
    .books .card{
        width: 30%;
        height: 30% !important;
        max-width: 250px;
        max-height: 300px !important;
    }
    .books .card .card-footer a{
        font-size: small !important;
    }
    .books .card img{
        max-width: 219px;
        max-height: 230px !important;
        height: 160px;
        overflow: hidden;
    }
    .filter a{
        font-size: medium !important;
    }
}
@media (max-width: 480px) {
    .books{
        justify-content: center !important;
    }
    .books .card{
        width: 60%;
        height: 50% !important;
        max-width: 300px;
        max-height: 350px !important;
    }
    .books .card .card-footer a{
        font-size: small !important;
    }
    .books .card img{
        max-width: 300px;
        max-height: 300px !important;
        height: 180px;
        overflow: hidden;
    }
    .filter a{
        font-size: small !important;
    }
}