
.col-tabs-list{
  padding-right: 0px;
}
.col-tabs-list li a{
  list-style: none;
  color: black;
}
.col-tabs-list li a.selected{
  border-top: 2px solid #7d51ff !important;
  background-color: #4631c2 !important;
}
.col-tabs-text li{
  display: none;
  padding: 1.4em;
}
.col-tabs-text li.selected{
  display: block;
  -webkit-animation: cd-fade-in 1.5s;
  -moz-animation: cd-fade-in 1.5s;
  animation: cd-fade-in 1.5s;
}
.col-tabs-text li p{
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media (max-width:992px) {
  .title{
    font-size: large;
  }
}
.topbtn{
  border-radius: 0px !important;
}
.temp{
  text-align: center;
}
@media (min-width:992px) {
  .col-tabs-list li{
    float: left;
  }
  .col-tabs-text li{
    width: auto;
  }
}
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
